[kolab]
primary_domain = suter.dev
auth_mechanism = ldap
imap_backend = cyrus-imap
default_locale = en_US
sync_interval = 300
domain_sync_interval = 600
policy_uid = %(surname)s.lower()
primary_mail = %(surname)s@%(domain)s
secondary_mail = {
        0: {
        "{0}.{1}@{2}": "format('%(givenname)s'[0:1].capitalize(), '%(surname)s', '%(domain)s')"
        },
        1: {
        "{0}@{1}": "format('%(uid)s', '%(domain)s')"
        },
        2: {
        "{0}@{1}": "format('%(givenname)s.%(surname)s', '%(domain)s')"
        }
        }
autocreate_folders = {
        'Archive': {
        'quota': 0,
        'partition': 'archive'
        },
        'Calendar': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "event.default",
        '/shared/vendor/kolab/folder-type': "event",
        },
        },
        'Calendar/Personal Calendar': {
        'annotations': {
        '/shared/vendor/kolab/folder-type': "event",
        },
        },
        'Configuration': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "configuration.default",
        '/shared/vendor/kolab/folder-type': "configuration",
        },
        },
        'Contacts': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "contact.default",
        '/shared/vendor/kolab/folder-type': "contact",
        },
        },
        'Contacts/Personal Contacts': {
        'annotations': {
        '/shared/vendor/kolab/folder-type': "contact",
        },
        },
        'Drafts': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.drafts",
        },
        },
        'Files': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "file.default",
        '/shared/vendor/kolab/folder-type': "file",
        },
        },
        'Journal': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "journal.default",
        '/shared/vendor/kolab/folder-type': "journal",
        },
        },
        'Notes': {
        'annotations': {
        '/private/vendor/kolab/folder-type': 'note.default',
        '/shared/vendor/kolab/folder-type': 'note',
        },
        },
        'Sent': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.sentitems",
        },
        },
        'Spam': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.junkemail",
        },
        },
        'Tasks': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "task.default",
        '/shared/vendor/kolab/folder-type': "task",
        },
        },
        'Trash': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.wastebasket",
        },
        },
        }

[autodiscover]
activesync = activesync.%d
imap = ssl://imap.%d:993
pop3 = ssl://pop3.%d:995
smtp = ssl://smtp.%d:465
login_attribute = mail
service_name = Kolab Groupware
service_short = Kolab

[imap]
virtual_domains = userid

[ldap]
ldap_uri = ldap://localhost:389
supported_controls = 0,2,3
base_dn = dc=suter,dc=local
bind_dn = cn=Directory Manager
bind_pw = ldap
service_bind_dn = uid=kolab-service,ou=Special Users,dc=suter,dc=local
service_bind_pw = kolab
user_base_dn = ou=People,%(base_dn)s
user_scope = sub
user_filter = (objectclass=inetorgperson)
kolab_user_base_dn = ou=People,%(base_dn)s
kolab_user_filter = (objectclass=kolabinetorgperson)
group_base_dn = ou=Groups,%(base_dn)s
group_filter = (|(objectclass=groupofuniquenames)(objectclass=groupofurls))
group_scope = sub
kolab_group_filter = (|(objectclass=kolabgroupofuniquenames)(objectclass=kolabgroupofurls))
sharedfolder_base_dn = ou=Shared Folders,%(base_dn)s
sharedfolder_filter = (objectclass=kolabsharedfolder)
sharedfolder_acl_entry_attribute = acl
resource_base_dn = ou=Resources,%(base_dn)s
resource_filter = (|%(group_filter)s(objectclass=kolabsharedfolder))
domain_base_dn = cn=kolab,cn=config
domain_filter = (&(associatedDomain=*))
domain_name_attribute = associateddomain
domain_rootdn_attribute = inetdomainbasedn
quota_attribute = mailquota
modifytimestamp_format = %Y%m%d%H%M%SZ
unique_attribute = nsuniqueid
mail_attributes = mail, alias
mailserver_attribute = mailhost
auth_attributes = mail, alias, uid

[kolab_smtp_access_policy]
cache_uri = mysql://kolab:kolab@localhost/kolab
cache_retention = 86400
address_search_attrs = mail, alias
delegate_sender_header = True
alias_sender_header = True
sender_header = True
xsender_header = True
empty_sender_hosts = 3.2.1.0/24, 6.6.6.0/24

[kolab_wap]
skin = default
api_url = http://localhost:80/kolab-webadmin/api
sql_uri = mysql://kolab:kolab@localhost/kolab
ssl_verify_peer = false
ssl_verify_host = false

[cyrus-imap]
uri = imaps://localhost:993
admin_login = cyrus-admin
admin_password = cyrus

[cyrus-sasl]
result_attribute = mail

[wallace]
modules = resources, invitationpolicy
kolab_invitation_policy = ACT_ACCEPT_IF_NO_CONFLICT:example.org, ACT_MANUAL
invitationpolicy_autoupdate_other_attendees_on_reply = false
resource_calendar_expire_days = 100

[{{ kolab_primary_domain }}]
default_quota = {{ kolab_default_quota }}
primary_mail = {{ kolab_primary_mail }} 

