[kolab]
primary_domain = {{ kolab_primary_domain }} 
auth_mechanism = ldap
imap_backend = cyrus-imap
default_locale = en_US
sync_interval = 300
domain_sync_interval = 600
policy_uid = {{ kolab_policy_uid }} 
primary_mail = {{ kolab_primary_mail }} 
secondary_mail = {
        0: {
        "{0}.{1}@{2}": "format('%(givenname)s'[0:1].capitalize(), '%(surname)s', '%(domain)s')"
        },
        1: {
        "{0}@{1}": "format('%(uid)s', '%(domain)s')"
        }
        }
autocreate_folders = {
        'Archive': {
        'quota': 0,
        'partition': 'archive'
        },
        'Calendar': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "event.default",
        '/shared/vendor/kolab/folder-type': "event",
        },
        },
        'Calendar/Personal Calendar': {
        'annotations': {
        '/shared/vendor/kolab/folder-type': "event",
        },
        },
        'Configuration': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "configuration.default",
        '/shared/vendor/kolab/folder-type': "configuration",
        },
        },
        'Contacts': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "contact.default",
        '/shared/vendor/kolab/folder-type': "contact",
        },
        },
        'Contacts/Personal Contacts': {
        'annotations': {
        '/shared/vendor/kolab/folder-type': "contact",
        },
        },
        'Drafts': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.drafts",
        },
        },
        'Files': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "file.default",
        '/shared/vendor/kolab/folder-type': "file",
        },
        },
        'Journal': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "journal.default",
        '/shared/vendor/kolab/folder-type': "journal",
        },
        },
        'Notes': {
        'annotations': {
        '/private/vendor/kolab/folder-type': 'note.default',
        '/shared/vendor/kolab/folder-type': 'note',
        },
        },
        'Sent': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.sentitems",
        },
        },
        'Spam': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.junkemail",
        },
        },
        'Tasks': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "task.default",
        '/shared/vendor/kolab/folder-type': "task",
        },
        },
        'Trash': {
        'annotations': {
        '/private/vendor/kolab/folder-type': "mail.wastebasket",
        },
        },
        }

[autodiscover]
activesync = activesync.%d
imap = ssl://imap.%d:993
pop3 = ssl://pop3.%d:995
smtp = ssl://smtp.%d:465
login_attribute = mail
service_name = Kolab Groupware
service_short = Kolab

[imap]
virtual_domains = userid

[ldap]
ldap_uri = {{ kolab_ldap_uri }}
supported_controls = 0,2,3
base_dn = {{ kolab_ldap_basedn }}
bind_dn = {{ kolab_ldap_binddn }}
bind_pw = {{ kolab_ldap_bindpw }}
service_bind_dn = {{ kolab_ldap_service_binddn }} 
service_bind_pw = {{ kolab_ldap_service_bindpw }}
user_base_dn = {{ kolab_ldap_user_basedn }}
user_scope = sub
user_filter = {{ kolab_ldap_user_filter }} 
kolab_user_base_dn = {{ kolab_ldap_user_basedn }}
kolab_user_filter = {{ kolab_ldap_user_filter }} 
group_base_dn = {{ kolab_ldap_group_basedn }} 
group_filter = {{ kolab_ldap_group_filter }}
group_scope = sub
kolab_group_filter = (|(objectclass=kolabgroupofuniquenames)(objectclass=kolabgroupofurls))
sharedfolder_base_dn = {{ kolab_ldap_shared_basedn }} 
sharedfolder_filter = {{ kolab_ldap_shared_filter }}
sharedfolder_acl_entry_attribute = acl
resource_base_dn = {{ kolab_ldap_resource_basedn }} 
resource_filter = {{ kolab_ldap_resource_filter }} 
domain_base_dn = {{ kolab_domain_basedn }} 
domain_filter = {{ kolab_domain_filter }}
domain_name_attribute = {{ kolab_domain_name }}
domain_rootdn_attribute = {{ kolab_domain_rootdn }}
quota_attribute = {{ kolab_quota_attribute }}
modifytimestamp_format = %Y%m%d%H%M%SZ
unique_attribute = {{ kolab_unique_attribute }}
mail_attributes = {{ kolab_mail_attributes }}
mailserver_attribute = {{ kolab_mailserver_attribute }} 
auth_attributes = {{ kolab_auth_attributes }}

[kolab_smtp_access_policy]
cache_uri = mysql://{{ kolab_mysql_user }}:{{ kolab_mysql_pass }}@{{ kolab_mysql_host }}/{{ kolab_mysql_name }} 
cache_retention = 86400
address_search_attrs = {{ kolab_smtp_search_attributes }} 
delegate_sender_header = True
alias_sender_header = True
sender_header = True
xsender_header = True
empty_sender_hosts = 3.2.1.0/24, 6.6.6.0/24

[kolab_wap]
skin = default
api_url = http://localhost:80/kolab-webadmin/api
sql_uri = mysql://{{ kolab_mysql_user }}:{{ kolab_mysql_pass }}@{{ kolab_mysql_host }}/{{ kolab_mysql_name }} 
ssl_verify_peer = false
ssl_verify_host = false

[cyrus-imap]
uri = imaps://localhost:993
admin_login = cyrus-admin
admin_password = {{ kolab_cyruspw }}

[cyrus-sasl]
result_attribute = mail

[wallace]
modules = resources, invitationpolicy
kolab_invitation_policy = ACT_ACCEPT_IF_NO_CONFLICT:example.org, ACT_MANUAL
invitationpolicy_autoupdate_other_attendees_on_reply = false
resource_calendar_expire_days = 100

[{{ kolab_primary_domain }}]
default_quota = {{ kolab_default_quota }}
primary_mail = {{ kolab_primary_mail }} 

